body {
    background-color:beige;
}

.container{
    display: grid;
    /*Definetely not the shotres method to define rows and columns
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:50px 50px;
    grid-gap:3px;
    This one is better! It's like drawing an L*/
    grid-gap: 3px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows:40px 600px 40px;
    grid-template-areas:
    "m h h h h h h h h h h h"
    "m c c c c c c c c c c c "
    "m f f f f f f f f f f f ";
}

div{
    background-color: rebeccapurple;
    text-align: center;
    border: 5px solid beige;
}
.header{/* First way
    grid-column-start: 1;
    grid-column-end: 3;
    Second way:
    grid-column:1/3;
    Third way:
    grid-column:1/span 2;
    !!! -1 ONE MEANS TAKE ALL THE REMAINING SPACE!!!
    */
    grid-area:h;
}
.menu{
    grid-area: m;
}
.content{
    grid-area: c;
    
}
.footer
{
    grid-area: f;

}