html {
    height: 100%;
}
body{
    height: 90%;
    
}
.flexbox-header{
    display:glex;
}
.flexbox-header >div:nth-child(3){
    margin-left:auto;
}
.container{
    height:100%;
    display: grid;

    /*Definetely not the shotres method to define rows and columns
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:50px 50px;
    grid-gap:3px;
    This one is better! It's like drawing an L*/
    grid-template-columns: repeat(12, 1fr);
    /*fixes the issue with the rows    */
    grid-template-rows: 40px 200px 40px;
}


.header {
    /* First way
    grid-column-start: 1;
    grid-column-end: 3;
    Second way:
    grid-column:1/3;
    Third way:
    grid-column:1/span 2;
    !!! -1 ONE MEANS TAKE ALL THE REMAINING SPACE!!!
    */
    display:flex;
    background-color: aqua;
    grid-column: 1/-1;
    font: 30pt sans-serif;
    justify-content: space-evenly;
}
.header > div:nth-child(3){
    margin-left:auto;
}

.menu {
    background-color: coral;
    font: 30pt sans-serif;
    grid-column: 1/2;
}

.content {
    background-color: lightblue;
    font: 30pt sans-serif;
    grid-column: 2/-1;
}

.footer {
    background-color: burlywood;
    grid-column: main;
    font: 30pt sans-serif;
    grid-column: 1/-1

}